<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authors List</title>
</head>
<body>
  <div>
    <div class="d-flex justify-content-between align-content-center my-3">
      <h4 class="text-muted">List of Authors</h4>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createAuthorModal"
      >
        Create Authors
      </button>
    </div>
      <table class="table table-hover" style="cursor: pointer">
        <thead class="rounded-top">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Author Name</th>
            <th scope="col">Biography</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% authors.forEach(author => { %>
          <tr>
            <td>
              <p
                class="text-truncate"
                style="max-width: 150px"
                title="<%= author.authorId %>"
              >
                <%= author.authorId %>
              </p>
            </td>
            <td>
              <p
                class="text-truncate"
                style="max-width: 150px"
                title="<%= author.authorName %>"
              >
                <%= author.authorName %>
              </p>
            </td>
            <td>
              <p
                class="text-truncate"
                style="max-width: 150px"
                title="<%= author.biography %>"
              >
                <%= author.biography %>
              </p>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-warning update-btn"
                data-bs-toggle="modal"
                data-bs-target="#updateAuthorModal_<%= author.authorId %>"
              >
                <i class="lni lni-pencil-alt"></i>
              </button>
              <button
                type="button"
                class="delete-btn"
                data-bs-toggle="modal"
                data-bs-target="#deleteAuthorModal_<%= author.authorId %>"
              >
                <i class="lni lni-trash-can"></i>
              </button>
            </td>
          </tr>
          <%- include('../modals/authors/updateAuthor.ejs', { author }); %>
          <%- include('../modals/authors/deleteAuthor.ejs', { author }); %>
          <% }) %>
        </tbody>
      </table>
  </div>
  
  <%- include('../modals/authors/createAuthor.ejs') %>
  
  </body>

</html>

