
  <div class="modal fade" id="updateOrderModal_<%= order.orderId %>" tabindex="-1" aria-labelledby="orderUpdateLabel_<%= order.orderId %>" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderUpdateLabel_<%= order.orderId %>">Update Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="orderUpdateForm_<%= order.orderId %>">
            <input type="hidden" id="orderId" name="orderId" value="<%= order.orderId %>">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="orderId_<%= order.orderId %>" class="form-label">Order ID</label>
                  <input type="text" 
                  class="form-control" 
                  id="orderId_<%= order.orderId %>" 
                  value="<%= order.orderId %>" 
                  name="orderId" disabled />
                </div>
                <div class="mb-3">
                  <label for="totalPrice_<%= order.orderId %>" class="form-label">Total Price</label>
                  <input type="text" class="form-control" id="totalPrice_<%= order.orderId %>" value="<%= order.totalPrice %>" name="totalPrice" required disabled />
                </div>
                <div class="mb-3">
                  <label for="status_<%= order.orderId %>" class="form-label">Status</label>
                  <select id="status_<%= order.orderId %>" class="form-control" name="status">
                    <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                    <option value="Processing" <%= order.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                    <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                    <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="orderDate_<%= order.orderId %>" class="form-label">Order Date</label>
                  <input type="date" class="form-control" id="orderDate_<%= order.orderId %>" value="<%= new Date(order.orderDate).toISOString().split('T')[0] %>" name="orderDate" disabled />
                </div>
                <div class="mb-3">
                  <label for="shipAddress_<%= order.orderId %>" class="form-label">Ship Address</label>
                  <input type="text" class="form-control" id="shipAddress_<%= order.orderId %>" value="<%= order.shipAddress %>" name="shipAddress" disabled />
                </div>
                
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label for="shippedDate_<%= order.orderId %>" class="form-label">Shipped Date</label>
                  <input type="date" class="form-control" id="shippedDate_<%= order.orderId %>" value="<%= order.shippedDate ? new Date(order.shippedDate).toISOString().split('T')[0] : '' %>" name="shippedDate" />
                </div>
                <div class="mb-3">
                  <label for="paymentMethod_<%= order.orderId %>" class="form-label">Payment Method</label>
                  <input type="text" class="form-control" id="paymentMethod_<%= order.orderId %>" value="<%= order.paymentMethod %>" name="paymentMethod" disabled />
                </div>
                <div class="mb-3">
                  <label for="email_<%= order.orderId %>" class="form-label">User Email</label>
                  <input type="email" class="form-control" id="email_<%= order.orderId %>" value="<%= order.user.email %>" name="email" disabled />
                </div>
                <div class="mb-3">
                  <label for="phoneNumber_<%= order.orderId %>" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="phoneNumber_<%= order.orderId %>" value="<%= order.user.phoneNumber %>" name="phoneNumber" disabled />
                </div>
                <div class="mb-3">
                  <label for="orderItems_<%= order.orderId %>" class="form-label">Order Items</label>
                  <textarea class="form-control" id="orderItems_<%= order.orderId %>" name="orderItems" rows="4" disabled><%= order.orderItems.map(item => item.book.title).join(', ') %></textarea>
                </div>
                <!-- <div class="form-group mb-3">
                  <label for="shipperSelect_<%= order.orderId %>" class="form-label">Shipper Name</label>
                  <select id="updateShipperSelect_<%= order.orderId %>" class="form-control" name="shipperId">
                    <% shippers.forEach((shipper) => { %>
                      <option value="<%= shipper.shipperId %>" <%= order.shipper.shipperId === shipper.shipperId ? 'selected' : '' %>><%= shipper.shipperName %></option>
                    <% }) %>
                  </select>
                </div> -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="update-btn" id="updateOrderBtn_<%= order.orderId %>">
                <span id="updateOrderBtnText_<%= order.orderId %>">Update Order</span>
                <span class="spinner-border spinner-border-sm d-none" id="updateOrderBtnSpinner_<%= order.orderId %>" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Function to handle form submission
      $('form[id^="orderUpdateForm_<%= order.orderId %>"]').submit(function (event) {
        event.preventDefault(); // Prevent default form submission
  
        var formData = new FormData(this);
        var status = formData.get('status');
        var shippedDate = formData.get('shippedDate')  ? new Date(formData.get('shippedDate')) : null;
        // var shipperId = formData.get('shipperId');
  
        // Show loading spinner
        $('#updateOrderBtnSpinner_<%= order.orderId %>').removeClass('d-none');
        $('#updateOrderBtnText_<%= order.orderId %>').addClass('d-none');
  
        // Make the API call to update the order
        $.ajax({
          url: `/orders/<%= order.orderId %>`, // Adjust the URL based on your API endpoint
          method: 'PUT', // Use 'POST' if your API expects it
          contentType: 'application/json',
          data: JSON.stringify({
            status: status,
            shippedDate: shippedDate,
          }),
          success: function (response) {
            // Handle success
            alert('Order updated successfully');
            $('#updateOrderBtnSpinner_<%= order.orderId %>').addClass('d-none');
            $('#updateOrderBtnText_<%= order.orderId %>').removeClass('d-none');
            $('#updateOrderModal_<%= order.orderId %>').modal('hide');
          },
          error: function (error) {
            // Handle error
            alert('Error updating order');
            $('#updateOrderBtnSpinner_<%= order.orderId %>').addClass('d-none');
            $('#updateOrderBtnText_<%= order.orderId %>').removeClass('d-none');
          }
        });
      });
    });
  </script>
  
